<Router AppAssembly="typeof(Program).Assembly">
    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(StoreOwnerLayout)" />
    </Found>
    <NotFound>
        <h4 class="text-white">
            This is Route
        </h4>
    </NotFound>
</Router>

