@page "/Admin/Categories"
@inherits OwningComponentBase<ICategoryRepository>


<CategoryTable TableTitle="Unapproved Category"
               Categories="UnapprovedCategories" ButtonLabel="Aprove" CategorySelected="ApproveCategory" />

<CategoryTable TableTitle="Approved Category"
             Categories="ApprovedCategories" ButtonLabel="Unapprove" CategorySelected="UnapproveCategory" />

<button class="btn btn-info" @onclick="@(e => UpdateData())">Refresh Data</button>

@code {
    public ICategoryRepository Repository => Service;

    public IEnumerable<Category> AllCategories { get; set; } = Enumerable.Empty<Category>();
    public IEnumerable<Category> UnapprovedCategories { get; set; } = Enumerable.Empty<Category>();
    public IEnumerable<Category> ApprovedCategories { get; set; } = Enumerable.Empty<Category>();

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {

        AllCategories = await Repository.Categories.ToListAsync();
        UnapprovedCategories = AllCategories.Where(o => !o.Approved);
        ApprovedCategories = AllCategories.Where(o => o.Approved);
    }

    public void ApproveCategory(int id) => UpdateCategory(id, true);
    public void UnapproveCategory(int id) => UpdateCategory(id, false);

    private void UpdateCategory(int id, bool approveValue)
    {
        Category? o = Repository.Categories.FirstOrDefault(o => o.Id == id);
        if (o != null)
        {
            o.Approved = approveValue;
            Repository.SaveItem(o);
        }
    }

    
}
